<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового студента</title>
</head>
<body>
<!--<form action="#" th:action="@{/add}" th:object="${student}" method="post">-->
<form th:action="@{/students/add}" method="post">
    <h2>Студент: </h2>
    <table>
        <tr>
            <td><label for="lastName">Фамилия</label></td>
            <td> <input type="text" id="lastName" name="lastName" placeholder="Фамилия"> </td>
        </tr>
        <tr>
            <td><label for="firstName">Имя</label></td>
            <td><input type="text" id="firstName"  name="firstName" placeholder="Имя"></td>
        </tr>
        <tr>
            <td><label for="surName">Отчество</label></td>
            <td><input type="text" id="surName" name="surName" placeholder="Отчество"></td>
        </tr>
        <tr>
            <td><label for="age">Возраст</label></td>
            <td><input type="text" id="age" name="age" placeholder="Возраст"></td>
        </tr>
        <tr>
            <td><label for="course">Курс</label></td>
            <td><input type="text" id="course" name="course" placeholder="Курс"></td>
        </tr>
    </table>
    <input type="submit" value="Добавить">
    <a href="/students">Назад</a>
</form>
</body>
</html>