<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:switch="${students}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table class="list_students">
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>Курс</th>
                <th colspan="2">Действие</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.surName}"></td>
                <td th:text="${student.age}"></td>
                <td th:text="${student.course}"></td>
                <td><a th:href="@{/students/update/{id}(id=${student.id})}">Изменить</a></td>
                <td><a th:href="@{/students/delete/{id}(id=${student.id})}">Удалить</a></td>
            </tr>
        </table>
    </div>
    <p><a href="/students/create">Добавить нового студента</a></p>
</div>
</body>
</html>